<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="pagination(pageInfo)">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item" th:classappend="${pageInfo.number == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{${pageInfo.url}(page=${pageInfo.number - 1})}">Previous</a>
                </li>
                <li class="page-item"
                    th:each="pageNumber : ${#numbers.sequence(0, pageInfo.totalPages - 1)}"
                    th:classappend="${pageInfo.number == pageNumber} ? 'active'"
                >
                    <a class="page-link" th:href="@{${pageInfo.url}(page=${pageNumber})}" th:text="${pageNumber + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${pageInfo.number == pageInfo.totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{${pageInfo.url}(page=${pageInfo.number + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</html>